# GitHub Configuration
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GITHUB_REPO=reinerramos2702/Quadro-Caf-
GITHUB_BRANCH=main

# Archivos a guardar automáticamente
AUTO_SAVE_PATTERNS="src/assets/fonts/* public/models/* src/assets/icons/*"

# Email para commits
GIT_USER_EMAIL=tu-email@gmail.com
GIT_USER_NAME=Tu Nombre
